/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
  font-family: "Roboto";
}

#my-carousel {
  width: 40%;
  height: 200px;
  display: flex;
  border: solid grey 0.5px;
}

/* #my-carousel2 {
  background-color: lightgrey;
  width: 100px;
  height: 100px;
} */

.containerGlobale {
  background: lightblue;
}

.card {
  width: 180px;
  height: 180px;
  margin: 10px;
  /* border: solid grey 0.5px; */
}

#cardTop {
  width: 150px;
  height: 60px;
  background-color: lightgrey;
}

#cardBottom {
  background-color: white;
  width: 150px;
  height: 96px;
  color: purple;
  font-size: 15px;
}


#subtitle {
  color: grey;
}
#title {
  color: purple;
}
.fa-lightbulb {
  background-color: purple;
  color: white;
  font-size: 35px;
}

.prev, .next {
    color: white;
    font-size: 40px;
    cursor: pointer;
    /* display: none; */
    opacity: 0;
    border: solid grey;
    background-color: grey;
    /* position: absolute; */
}

/* #my-carousel:hover{
  .prev, .next {display: block;}
} */



 /* .card img {
    display: none;
}
 .card img.active {
    display: inline-block;
} */

.active {
  background-color: blue;
}

.opac {
  opacity: 0.8;
}

.active1 {
  background-color: yellow;
}

/* .latest {
  position: relative;
} */


/* div {
  border: solid 0.5px black;
} */
